
.feature-wrappre {
    background-color: #fff;
}

.feature-area .feature-box {
    border-right: 2px solid #dee2e6;
    height: 100%;
    margin: 0 auto;
}

.feature-area .feature-box img {
    width: 50px;
    margin: 0 40px;
}

.feature-area .feature-box.last {
    border-right: none;
}

.feature-area .feature-box h4 {
    font-size: 22px;
    font-weight: 700;
}

.feature-area .feature-box span {
    font-size: 18px;
}
