.topheader {
    font-size: 14px;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.search-box form{
    width: 80%;
    margin: 0 auto;
}
.input-group .btn {
    background-color: #ffa500;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.input-group .btn:hover{
    background-color: #FF8C00;
}
.input-group .btn i {
    color: #fff;
    font-size: 20px;
}

.search-input {
    border: 1px solid #e2e5ec !important;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ffa500 !important;
    outline: 0;
    box-shadow: none;
}
a.login {
    position: relative;
    margin-right: 12px;
}
.login .nav-box-text {
    font-size: 9px;
    position: absolute;
    left: -8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
}
.login .nav-box-text-logout {
    font-size: 9px;
    position: absolute;
    left: -15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
}
.topleft {
    text-align: left;
}
.topleft span:not(:last-child) {
    padding-right: 1rem;
    border-right: 1px solid #dee2e6;
}

.topright {
    text-align: right;
}
.topright a {
    color: gray;
}
.topright a:not(:last-child) {
    margin-right: 20px;
    padding-right: 1rem;
    border-right: 1px solid #dee2e6;
}

.phone .rotate {
    transform: rotate(90deg);
}
.topheader .mail {
    margin-left: 20px;
}
