.books-side-cat-list {
    height: 35vh;
    overflow: auto;
}
.books-side-pub-list {
    height: 35vh;
    overflow: auto;
}
.books-side-author-list {
    height: 35vh;
    overflow: auto;
}
.books-filter {
    background-color: #ffa500;
}
.books-filter span {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.check-inner {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.check-group {
    display: block;
    margin-bottom: 15px;
}
.check-group.form-check {
    padding-left: 0;
}
.check-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.check-group label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: #3d3d3d;
    padding-left: 35px;
}

.check-group label:before {
    content: "";
    background-color: transparent;
    border: 2px solid #ffa500;
    padding: 8px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 8px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: -5px;
    border-radius: 3px;
}

.check-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 1px;
    width: 17px;
    height: 6px;
    border: solid #ffa500;
    border-width: 0 0px 2px 2px;
    transform: rotate(-45deg);
}
